<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
  <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
  <title>Chat - TurtleMessanger</title>
</head>

<body>

  <div class="flash">
    <!-- Flash messages-->

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul class=flashes>
      {% for category, message in messages %}
      <li class="{{ category }}">{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

  </div>

  <div class="wrapper">
    <section class="users">
      <header>
        <div class="content">
          {% if user_object.picture_name %}
          <img src="{{ url_for('static', filename='images/' + user_object.picture_name)}}"
            alt="{{user_object.picture_name}}" style="width: 25%" />
          {% else %}
          <img src="{{ url_for('static', filename='0_default.png')}}" alt="{{user_object.picture_name}}"
            style="width: 25%" />
          {%endif%}
          <div class="details">
            <a href="/profile">
              <span>
                {{ user_object.firstname +" "+ user_object.lastname}}</span>
            </a>
            <p>Active Now</p>
          </div>
        </div>
        <a href="/logout" class="logout">Logout</a>
      </header>
      <div class="search">
        <span class="text">Select an user to start chat</span>
        <input type="text" placeholder="Enter name to search.." />
        <button><i class="fas fa-search"></i></button>
      </div>
      <div class="users-list">
        {% for user in users %}
        {% if user[0] != user_object.id%}
        <a href="#">
          <div class="content">
            <img src="{{ url_for('static', filename='images/' + user[5])}}" alt="" />
            <div class="details">

              <span class="select-room">{{user[1] + " " + user[2]}}</span>
              <p>Wiadomość tekstowa </p>

            </div>
          </div>
          <div class="status-dot"><i class="fas fa-circle"></i></div>
        </a>
        {% else %}
        <a href="#">
          <div class="content">
            <img src="{{ url_for('static', filename='images/' + user[5])}}" alt="" />
            <div class="details">

              <span class="select-room">{{user[1] + " " + user[2] + "(me)"}}</span>
              <p>Wiadomość tekstowa </p>

            </div>
          </div>
          <div class="status-dot"><i class="fas fa-circle"></i></div>
        </a>
        {% endif%}
        {%endfor%}
      </div>
    </section>
  </div>

  <div class="wrapper">
    <section class="chat">
      <!--Chat bar-->
      <header>
        <div id="display-room">
          <div class="details">
            <span>
              {{ user_object.firstname +" "+ user_object.lastname}}</span>
          </div>
        </div>
      </header>
      <div id="display-message-section">
        <!-- messages here -->
      </div>

      <div id="input-area">
        <!-- input here -->
        <div class="send">
          <span class="text">Type your message..</span>
          <input type="text" id="user_message" placeholder="Enter message to send.." autocomplete="off" />
          <button id="send_message"><i class="fas fa-comments"></i></button>
        </div>
      </div>
      <!-- future chat voice-->
      <div class="future-voice">
        <button><i class="fa fa-microphone"></i></button>
        <button><i class="fa fa-file-image"></i></button>
        <button><i class="fa fa-file"></i></button>

      </div>

      <!-- Get firstname-->

      <span id="get-firstname">{{ user_object.firstname }}</span>
      <!-- SocketIO js-->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
        integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
        crossorigin="anonymous"></script>

      <!-- Custom SocketIO JS-->
      <script src="{{ url_for('static', filename='scripts/socketio.js')}}"></script>
      <!-- Custom chat JS-->
      <script src="{{ url_for('static', filename='scripts/chat_page.js')}}"></script>
    </section>
  </div>
</body>

</html>