<!DOCTYPE html>
<html lang="en">

<head>
  {% from "form_helper.html" import displayField %}
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Turtle Chat App</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
</head>

<body>
  <div class="wrapper">
    <section class="form login">
      <header>Turtle Chat App</header>
      <form action="{{ url_for('login')}}" , method="POST">
        <ul>
          {% for error in form.errors %} {% if error:%}
          <div class="error-txt">{{ error }}</div>

          {%endif%}{% endfor %}
        </ul>

        <div class="field input">
          <label>E-mail Address</label>
          {{ form.email(class_='input') }}
        </div>
        <div class="field input">
          <label>Password</label>
          {{ form.password(class_='input')}}
          <i class="fas fa-eye"></i>
        </div>
        <div class="field button">
          {{ form.submit_button(class_='input', type='submit')}}
        </div>
        {{form.csrf_token}}
      </form>
      <div class="link">Not yet signed up? <a href="/">Signup now!</a></div>
    </section>
  </div>
</body>

</html>