<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
</head>
<title>Profile - Turtle Chat</title>
</head>

<body>
  <div class="flash">
    <!-- Flash messages-->

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul class=flashes>
      {% for category, message in messages %}
      <li class="{{ category }}">{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

  </div>

  <div class="nav-bar">
    <a href="/chat">Chat</a>
    <a href="/logout">logout</a>
  </div>

  <div class="profile-title">
    <h2>hi, <b>{{ user_object.firstname }}!</b></h2>
    {% if user_object.picture_name %}
    <img src="{{ url_for('static', filename='images/' + user_object.picture_name)}}" alt="{{user_object.picture_name}}"
      width="15%" />
    {% else %}
    <img src="{{ url_for('static', filename='0_default.png')}}" alt="{{user_object.picture_name}}" style="width: 15%" />
    {%endif%}
  </div>
  <div class="wrapper">
    <div class="content">
      <div class="profile-data">
        <p>Your name: </p>
        <b>{{ user_object.firstname +" "+ user_object.lastname}}</b>
        <p>E-mail: </p>
        <b>{{ user_object.email}}</b>
        <p>Friends: </p>
        <b>Null</b>
        <p>Bio: </p>
        <b>191cm, lubie programowac w pythonie</b>

      </div>
    </div>

  </div>


</body>

</html>