{% extends 'base.html'%}
{% block title%}
profile
{% endblock%}




{% block content%}
<nav class="nav nav-pills justify-content-center">
    <a class="flex-sm-fill text-sm-center nav-link" href="/chat">Chat</a>
    <a class="flex-sm-fill text-sm-center nav-link active" aria-current="page" href="/profile">Profile</a>
    <a class="flex-sm-fill text-sm-center nav-link" href="/find_friend">Find friends</a>
    <a class="flex-sm-fill text-sm-center nav-link" href="/logout">Logout</a>
</nav>
<div class="container text-center">
    <div class="row justify-content-center">
        <div class=".col-6 .col-md-4">
            <nav id="rightside-pannel">
                <div class="card">

                    <div class="card-body">
                        <h2> hi, <b>{{ user_object.username }}!</b> </h2>
                        <p>Pofile photo: <b>You look amazing! </b></p>
                        <img src="{{ url_for('static', filename='0_default.png') }}" alt="Default profile picture"
                            style="width:25%">
                    </div>
                </div>
            </nav>
        </div>
        <div class=".col-6 .col-md-4">
            <nav id="rightside-pannel">
                <div class="card">

                    <div class="card-body">
                        <p>Username: <b>{{ user_object.username}}</b> </p>
                        <p>E-mail: <b>{{ user_object.email}}</b> </p>
                        <p>Friends: <b>997</b></p>
                        <p>Bio: <b>191cm, lubie programowac w pythonie</b></p>
                        <h5>Have you good day, bye..</h5>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>
{% endblock%}