{% from "form_helper.html" import displayField %}

{% extends "base.html" %}


{% block title%} Registration {% endblock%}

{% block content%}
<nav class="nav nav-pills justify-content-center">
    <a class="flex-sm-fill text-sm-center nav-link active" aria-current="page" href="/">Register</a>
    <a class="flex-sm-fill text-sm-center nav-link" href="/login">Login</a>
</nav>
<h1> Get started </h1>

<form action="{{ url_for('register')}}" method="POST" enctype="multipart/form-data">

    {{ displayField(form.firstname, "First name...", autocomplete="off", autofocus=true) }}
    {{ displayField(form.lastname, "Last name...", ) }}
    {{ displayField(form.password, "Password...", ) }}
    {{ displayField(form.confirm_password, "Retype Passowrd...",) }}
    {{ displayField(form.email, "E-mail...",) }}

    {{ form.profile_picture}}

    <div>
        {{ form.submit_button}}
    </div>
    {{form.csrf_token}}
</form>

<p>If you are already register, <a href="/login">click here!</a> </p>

{%endblock%}